@font-face {
    font-family: 'Source Sans Pro';
    src: url(../fonts/SourceSansPro-Regular.ttf);
}
@font-face {
    font-family: 'Cabin';
    src: url(../fonts/Cabin-Regular.ttf);
}
@font-face {
    font-family: 'Herr Von Muellerh off';
    src: url(../fonts/HerrVonMuellerhoff-Regular.ttf);
}